:root {
	--font-numeric: "CrashNumberingGothic", sans-serif;
}

@layer base {
	body {
		font-family: var(--font-sans);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-primary, var(--font-sans));
		font-weight: 600;
	}
}

.font-numeric {
	font-family: var(--font-numeric);
}
